<div class="my-div">
    <input class="abs" id="file" type="file" accept="image/*" (change)="upload($event.target.files)" />
    <div class="img-w" *ngIf="!isShowMyInputLogo">
        <div class="box">
            <p><i class="fa fa-plus fa-lg" aria-hidden="true"></i></p>
        </div>
    </div>
    <ng-content select="[uploadLogo]" *ngIf="isShowMyInputLogo"></ng-content>
</div>
<ng-container *ngIf="imagePath && showUploadedImage">
    <div>
        <img class="imageShow"  [src]="apiurl + imagePath">
    </div>
</ng-container>

<div *ngIf="isRequired && formSubmitted">
    <p style="color: red;">Image is required</p>
</div>