.n-bd{
    text-align: center;
    padding: 1em;
    border-bottom: solid 1px #E9754E;
    #hd{
        color: #E9754E;
        font-weight: bold;
        font-size: 1rem;
    }

    #bdy{
        color: gray;
        font-weight: bold;
        font-size: .9rem;
    }
}