/* card like pop-shop starts */
.crd-lyt {
    border-bottom: solid 1px lightgray;
    padding: 12px 5px 12px 5px !important;
    background: white;
    font-size: 18px;
    font-weight: bold;
  
    .rght {
      float: right;
    }
  
  
  }
  
  .cnt {
    background: white;
    padding: 5px;
  }
  
  /* card like pop-shop ends */
  