
    <app-top-navigation-wrapper>
        <button class="tp-nav-btn" id="changePwdHeaderBtnN" (click)="goToHome()"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;
            Back</button>
    </app-top-navigation-wrapper>
   
        <!-- <div topNavigation>
            <button class="tp-nav-btn" (click)="goToHome()">
                <span class="fntt"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</span>
            </button>
        </div> -->
        <div class="bck">
            <form name="mobileInputForm" #mobileForm="ngForm" (ngSubmit)="saveDetail(mobileForm)">
                <div class="lgn">
                    <div class="hrd">
                        Change Password
                    </div>
                   <!-- <div class="mb">
                        <label>Mobile Number:</label>
                        <input name="nameInput" id="nameInput" class="inpt-al c1" type="text" pattern="^[0-9]{10}$" maxlength="10"
                            [(ngModel)]="mob.Mobile" disabled
                            placeholder="Mobile" >
                    </div> -->
                    <div class="mb">
                        <label>Password:</label>
                        <input name="nameInput1" id="nameInput1" class="inpt-al" type="password" maxlength="10"
                            [(ngModel)]="mob.password" required #nameInput1="ngModel"
                            placeholder="Enter Password" >
                        <div
                            *ngIf="mobileForm && mobileForm.submitted && !nameInput1.valid && nameInput1.errors.required">
                            <code>Enter Password</code>
                        </div>
                    </div>
                    <div class="mb">
                        <label>Confirm Password:</label>
                        <input name="nameInput2" id="nameInput2" class="inpt-al" type="password" maxlength="10"
                            [(ngModel)]="mob.ConfirmPwd" required  #nameInput2="ngModel"
                            placeholder="Enter Confirm Password" >
                        <div
                            *ngIf="mobileForm && mobileForm.submitted && !nameInput2.valid && nameInput2.errors.required">
                            <code>Enter Confirm Password</code>
                        </div>
                    </div> 
                     <div class="btn-nxt">
                        <button type="submit" id="changepwdSavebtN">Save</button>
                    </div>
                </div>
            </form>
    </div>