.hdr{
    color: #E9754E;
    font-size: 1.2rem;
    font-weight: bold !important;
}

.bddy{
    font-size: .9rem;
}


.back{
    float: right;
    color: #E9754E !important;
    padding-top: 30px;
    cursor: pointer;
}

    .bdy{
        padding: 10px;
    }
    .hdr-b{
        font-size: 14px;
        font-weight: bold;
    }
    p{
        font-size: 12px;
        line-height: 13px;
    }

    .str{
        position: absolute;
        right: 6px;
        bottom: 0px;
    }



  

