<div class="bck">
    <div class="lgn">
        <div class="hrd">
            Login method
        </div>
        <div class="spp">
            Please choose your login method as you want
        </div>
    </div>
    <div class="btn-mthd">
        <div class="btn-lgn-mthd" (click)="loginMethodSelect(true)">
            <span class="logo-k"><i class="fa fa-key fa-lg" aria-hidden="true"></i></span>
            <span class="clr">&nbsp;&nbsp;&nbsp; Sign In With Password</span>
        </div>

        <div class="btn-lgn-mthd mr-11" (click)="loginMethodSelect(false)">
            <span class="logo-k"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
            <span class="clr">&nbsp;&nbsp;&nbsp; Sign In With OTP</span>
        </div>
    </div>
</div>