
.top-nv-bar {
  z-index: 8;
  position: fixed;
  min-height: 55px;
  max-height: 55px;
  top: 0px;
  left: 0px;
  background: #343553;
  width: 100%;
  padding: 10px 5px 5px 5px;
  color: #58CCC1;
  border-bottom: solid 1px #343553;
 
}